$folder-background = hsl(260deg, 10%, 15%)

$loading-height = 50px

.pane-folder
  absolute top (-1 * $loading-height) left
  bottom 0
  width 210px
  overflow-x hidden
  overflow-y auto
  background $folder-background
  transition top 0.2s linear
  padding-top $loading-height

  .folder-list
    list-style none
    margin 0
    padding 0
    font-size 0.8rem

    .folder-heading
      if $theme-flat
        background lighten($folder-background, 10%)
      else
        background linear-gradient(lighten($folder-background, 12%), lighten($folder-background, 10%))
        box-shadow inset 0  1px 0 lighten($folder-background, 20%), \
                   inset 0 -1px 0 darken($folder-background, 10%)
        text-shadow 0 -1px 0 $folder-background

      color lighten($folder-background, 40%)
      overflow ellipsis
      padding 5px 10px

    a
      color lighten($folder-background, 50%)
      text-decoration none
      display block
      overflow ellipsis
      padding 5px 30px 5px 16px
      position relative

      &:hover,
      &:focus
        @extend #theme.highlight


    .unread-count
      absolute right 10px
      padding 0 5px
      border-radius 3px
      color lighten($folder-background, 30%)
      max-width 20px
      overflow ellipsis
      background darken($folder-background, 30%)
      if not $theme-flat
        box-shadow inset 0 1px 2px darken($folder-background, 60%)
        text-shadow 0 -1px 0 darken($folder-background, 60%)

    a:hover,
    a:focus
      .unread-count
        color lighten($brand-blue, 60%)
        if $theme-flat
          background darken($brand-blue, 30%)
        else
          text-shadow none
          background darken($brand-blue, 30%)
          box-shadow inset 0 1px 2px darken($brand-blue, 60%)
          text-shadow 0 -1px 0 darken($brand-blue, 60%)

  .subfolder
    list-style none
    margin 0
    padding 0
    font-size 0.7rem
    display none
    background darken($folder-background, 40%)
    box-shadow inset 0 0 4px rgba(#000, 0.5)

    a
      padding 5px 30px 5px 26px

  &::after
    content "Loading..."
    position absolute
    top 0
    left 0
    right 0
    height $loading-height
    line-height @height
    text-align center
    color lighten($folder-background, 40%)
    text-shadow 0 -1px 0 $folder-background

    background darken($folder-background, 40%)

  .is-loading &
    top 0

