$folder-background = hsl(260deg, 10%, 15%)

.pane-folder
  absolute top left
  bottom 0
  width 250px
  overflow-x hidden
  overflow-y auto
  background $folder-background

  .folder-list
    list-style none
    margin 0
    font-size 0.8rem
    padding 0 0 10px 0

    &:last-child
      padding-bottom 0

    .folder-heading
      if $theme-flat
        background lighten($folder-background, 10%)
      else
        background linear-gradient(lighten($folder-background, 12%), lighten($folder-background, 10%))
        box-shadow inset 0  1px 0 lighten($folder-background, 20%), \
                   inset 0 -1px 0 darken($folder-background, 10%)

      color lighten($folder-background, 40%)
      overflow ellipsis
      padding 5px 10px

    a
      color lighten($folder-background, 50%)
      text-decoration none
      display block
      overflow ellipsis
      padding 5px 30px 5px 16px
      position relative

      &:hover,
      &:focus
        @extend #theme.highlight


    .unread-count
      absolute right 10px
      padding 0 5px
      border-radius 3px
      color lighten($folder-background, 30%)
      max-width 20px
      overflow ellipsis
      background darken($folder-background, 30%)
      if not $theme-flat
        box-shadow inset 0 1px 2px darken($folder-background, 60%)
        text-shadow 0 -1px 0 darken($folder-background, 60%)

    a:hover,
    a:focus
      .unread-count
        color lighten($brand-blue, 60%)
        if $theme-flat
          background darken($brand-blue, 30%)
        else
          text-shadow none
          background darken($brand-blue, 30%)
          box-shadow inset 0 1px 2px darken($brand-blue, 60%)
          text-shadow 0 -1px 0 darken($brand-blue, 60%)

