$folder-background = hsl(260deg, 10%, 15%)

$pane-folder-width = 210px
$loading-height = 50px

.pane-folder
  absolute top left
  bottom 0
  width 210px
  overflow-x hidden
  overflow-y auto
  background $folder-background

  .folder-list
    list-style none
    margin 0
    padding 0
    font-size 0.8rem
    if $theme-flat
      padding-bottom 5px

    .folder-heading
      if $theme-flat
        background lighten($folder-background, 10%)
      else
        background linear-gradient(lighten($folder-background, 12%), lighten($folder-background, 10%))
        box-shadow inset 0  1px 0 lighten($folder-background, 20%), \
                   inset 0 -1px 0 darken($folder-background, 10%)
        text-shadow 0 -1px 0 $folder-background

      color lighten($folder-background, 40%)
      overflow ellipsis
      padding 5px 10px

    a
      color lighten($folder-background, 50%)
      text-decoration none
      display block
      overflow ellipsis
      padding 5px 30px 5px 16px
      position relative

      &:hover,
      &:focus
        @extend #theme.highlight


    .unread-count
      absolute right 10px
      padding 0 5px
      border-radius 3px
      color lighten($folder-background, 30%)
      max-width 20px
      overflow ellipsis
      background darken($folder-background, 30%)
      if not $theme-flat
        box-shadow inset 0 1px 2px darken($folder-background, 60%)
        text-shadow 0 -1px 0 darken($folder-background, 60%)

    a:hover,
    a:focus
      .unread-count
        color lighten($brand-blue, 60%)
        if $theme-flat
          background darken($brand-blue, 30%)
        else
          text-shadow none
          background darken($brand-blue, 30%)
          box-shadow inset 0 1px 2px darken($brand-blue, 60%)
          text-shadow 0 -1px 0 darken($brand-blue, 60%)

  .subfolder
    list-style none
    margin 0
    padding 0
    font-size 0.7rem
    display none
    background darken($folder-background, 40%)
    if not $theme-flat
      box-shadow inset 0 0 4px rgba(#000, 0.5)

    a
      padding 5px 30px 5px 26px

  /*
  .loading 
    font-size 1rem !important
    color rgba(#FFF, 0.5)
    absolute top 2px right 10px
    transition opacity 0.2s linear
    opacity 0

    &.is-visible
      opacity 1

      i
        display inline-block
        animation spin 2s infinite linear
      
  */

  $loading-wrap-height = 50px

  transition padding-bottom 0.2s linear
  &.is-loading
    padding-bottom $loading-wrap-height

  .loading
    fixed bottom left
    width $pane-folder-width
    height $loading-wrap-height
    line-height @height
    transition opacity 0.2s linear
    background rgba(#000, 0.8)
    overflow hidden

    height 0
    transition height 0.2s linear

    if $theme-flat
      background lighten($folder-background, 10%)
    else
      background linear-gradient(lighten($folder-background, 12%), lighten($folder-background, 10%))
      box-shadow inset 0  1px 0 lighten($folder-background, 20%), \
                 inset 0 -1px 0 darken($folder-background, 10%)

    $loading-height = 18px

    &::before
      content ""
      absolute top 50% left 50%
      height $loading-height
      width ($pane-folder-width * 0.8)
      margin-top (-0.5 * @height)
      margin-left (-0.5 * @width)
      border-radius (0.5 * @height)
      box-sizing border-box

      if $theme-flat
        background darken($folder-background, 30%)
      else
        border 1px solid darken($folder-background, 40%)
        background linear-gradient(darken($folder-background, 30%), darken($folder-background, 10%))
        box-shadow inset 0 0 2px darken($folder-background, 40%)

    &::after
      content ""
      absolute top 50% left 50%
      $padding = 0px
      height ($loading-height - $padding * 2)
      margin-top (-0.5 * @height)
      margin-left (-0.5 * ($pane-folder-width * 0.8 - $padding * 2))
      border-radius (0.5 * @height)
      min-width (2 * @border-radius)

      width unit(($pane-folder-width * 0.8 - $padding * 2) * 0.01, "em")

      box-sizing border-box

      $loading-color = $brand-blue
      if $theme-flat
        background $loading-color
      else
        background linear-gradient($loading-color, darken($loading-color, 10%))
        box-shadow inset 0 1px 0px lighten($loading-color, 20%)
        border 1px solid darken($loading-color, 80%)

    &.is-visible
      height $loading-wrap-height

