@import "_normalize.styl"
@import "_font-awesome.styl"

support-for-ie = false
vendors = webkit official
vendor-prefixes = webkit official

@import "nib"

// $brand-blue = #4184EF
$brand-blue = #28F

$theme-flat ?= false

#theme.highlight
  if $theme-flat
    background $brand-blue
    color #FFF
  else
    background linear-gradient($brand-blue, darken($brand-blue, 10%))
    box-shadow inset 0  1px 0 lighten($brand-blue, 10%), \
               inset 0 -1px 0 darken($brand-blue, 20%)
    text-shadow 0 1px 1px darken($brand-blue, 50%)
    color #FFF

html,
body
  font 16px / 1.5 "微软雅黑"

::-webkit-scrollbar
  width 4px
  height 4px
 
::-webkit-scrollbar-thumb
  border-radius 2px
  background-color #999
 
::-webkit-scrollbar-button
  display none

@import "_modal.styl"
@import "_form.styl"
@import "_folder.styl"
@import "_message.styl"

.pane-content
  absolute top 0 left (350px + 210px + 1px)
  bottom 0
  right 0
  overflow hidden
