html {
  background: url('../image/creampaper.png');
}
body {
	font: 16px / 1.5 "微软雅黑", Helvetica, Serif;
}
.page-wrap{
	margin : 10px;
	margin-top : 40px;
	margin: 30px auto;
	padding: 30px;
	max-width: 650px;
	min-width: 400px;
	background:  ghostwhite;
	border: 1px solid #999;
	box-shadow: 0px 0px 2px #AAA;
	color: #333;
	position: relative;
}
.title {
	text-align: center;
	font-size: 1.5em;
	border-bottom: 1px solid #CCC;
	padding: 0 0 10px 0;
}
.toolbar{;
	padding: 10px;
	color: #555;
	text-align: right;

	/*
	background : linear-gradient(rgba(144, 34, 208, 1.0), #508);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4), inset 0 1px 1px rgba(193, 95, 250, 1.0);
	color: #FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,0.7);
	border: 1px solid #508;
	height : 50px;
	line-height: 25px;
	padding: 5px 10px;
	*/
}

.courseName {
}
.author, .date {
	font-size: 0.8em;
}
.deadline .date::before {
	content: "截止时间: ";
}
.description {
	float: left;
}

.toolbar { overflow: hidden; }
.toolbar ul { padding : 0; margin: 0; list-style: none; }
.toolbar li { display: inline-block; padding: 0 10px; margin: 0 2px; }

.action {
	float: right;
}

