
.pane-folder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    /*background: #25222a;*/
    transition: opacity 0.3s linear;
}

.pane-message {
    position: absolute;
    top: 0;
    left: 270px;
    bottom: 0;
    width: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    background: #f6f6f6;
    opacity: 1;
    transition: opacity 0.3s linear;
}

.pane-hidden {
    opacity: 0;
}

.pane-content {
    position: absolute;
    top: 0;
    left: 671px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    transition: left 0.3s linear;
}

.pane-fullscreen {
    left: 0;
}

.progress_area {
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
}