.numbered_list,
.course_list {
  width: 100%;
}

.sidebar_list_item {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  height: 40px !important;
}

.course_list_item_text,
.settings_list_item_text {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.course_list_item_text > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list_title_header {
  display: flex;
  align-items: center;
}

.list_title {
  margin-left: 10px;
}

.list_item_icon {
  width: 18px;
  min-width: 0 !important;
  margin-right: 16px !important;
}

.summary_list_item_text {
  margin-right: 16px;
}

.card_list {
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.card_list_inner {
}

.card_list_header {
  width: 100%;
  text-align: center;
  transition: box-shadow 0.2s ease;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card_list_header_title {
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: larger;
}

.card_list_header_grow {
  flex-grow: 1;
}

.card_list_header_search {
  position: relative;
  border-radius: 5px;
  /* background-color: rgba(255, 255, 255, 0.75); */
  margin-left: 10px;
  max-width: 40%;
  width: auto;
  height: 30px;
}

.card_list_header_search:hover {
  /* background-color: rgba(255, 255, 255, 0.85); */
}

.card_list_header_search_icon {
  width: 10px;
  height: 100%;
  margin-left: 10px;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_list_header_input_root {
  color: inherit;
  width: auto;
  margin-left: 30px;
  vertical-align: top;
}

.card_list_header_floating {
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
  z-index: 100 !important; /* Need to float on top of badges */
}

.card_list_header_text {
  font-size: 20px;
}

.card_list_load_more {
  height: 60px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  opacity: 0.38;
  transition: opacity 0.2s ease;
  margin-top: 20px;
  cursor: pointer;
}

.card_list_load_more:hover {
  opacity: 0.7;
}

.subfunc_list {
  margin-left: 10px !important;
}
