.app_bar_btn {
  width: 48px;
  height: 48px;
  margin-left: -8px !important;
}

.app_error_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_error_text {
  /* text-align: center; */
  white-space: pre-wrap;
  margin: 10px auto !important;
  display: block !important;
}

.sidebar {
}

.sidebar_wrapper {
  display: flex;
  flex-direction: column;
  width: 670px;
  height: 100%; /* Relatives to body */
}

.sidebar_content {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-y: hidden;
}

.sidebar_component {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.sidebar_folder {
  width: 270px;
}

.sidebar_cards {
  width: 400px;
  border-right: 1px solid var(--mui-palette-divider);
  border-left: 1px solid var(--mui-palette-divider);
  box-sizing: border-box;
  background: #f6f6f6;
}

[data-mui-color-scheme='dark'] .sidebar_cards {
  background: #0a0a0a;
}

.sidebar_header {
  border-bottom: 1px solid var(--mui-palette-divider);
}

.sidebar_header_left {
  width: 270px;
  box-sizing: border-box;
  display: inline-flex;
}

.sidebar_master_title {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.sidebar_master_notify_icon {
  position: absolute !important;
  right: 16px !important;
  color: darkred !important;
}

.sidebar_header_right {
  width: 400px;
  box-sizing: border-box;
  border-left: 1px solid var(--mui-palette-divider);
  display: inline-flex;

  overflow: hidden;
}

.sidebar_header_content {
  display: flex;
  border-right: 1px solid var(--mui-palette-divider);
}

.sidebar_cardlist_name {
  flex: 1;
  display: block;

  transition: transform 0.2s ease, opacity 0.2s ease;
}

.sidebar_filter_group {
  margin-right: -8px;
  width: 48px;
  display: flex;
  align-items: center;

  transition: transform 0.2s ease;
}

.sidebar_filter_shown .sidebar_cardlist_name {
  transform: translateX(-320px); /* 400 - 24*2 - 48 + 8*2 = 320 */
  opacity: 0;
}

.sidebar_filter_shown .sidebar_filter_group {
  transform: translateX(-320px);
}

.filter_input {
  padding-left: 8px;
  width: 312px;

  transition: opacity 0.2s ease;
}

.filter_input_inner {
  width: 304px;
}

.filter_btn {
  height: 48px;
  width: 48px;
}

.pane_content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 671px;
  bottom: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: auto;
  transition: left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  background-color: #eee;
}

[data-mui-color-scheme='dark'] .pane_content {
  background-color: #111;
}

@media (max-width: 1024px) {
  .pane_content {
    min-width: 350px;
  }
}

.pane_fullscreen {
  left: 0;
  transition: left 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.progress_area {
  z-index: 1500;
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
}

.web_frame_wrapper {
  flex-grow: 1;
  position: relative;
}

.web_frame {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  border-width: 0;
}

.form_control {
  margin: 10px 0 !important;
  min-width: 150px !important;
}
