.app_bar_btn {
  width: 48px;
  margin-left: -8px !important;
}

.app_error_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_error_text {
    /* text-align: center; */
    white-space: pre-wrap;
    margin: 10px auto !important;
    display: block !important;
}

.sidebar {}

.sidebar_wrapper {
  display: flex;
  flex-direction: column;
  width: 670px;
  height: 100%; /* Relatives to body */
}

.sidebar_content {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-y: hidden;
}

.sidebar_component {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.sidebar_folder {
  width: 270px;
}

.sidebar_cards {
  width: 400px;
  background: #f6f6f6;
  border-right: 1px solid #ccc;
  border-left: 1px solid rgba(0,0,0,.12);
  box-sizing: border-box;
}

.sidebar_header {
  border-bottom: rgba(0,0,0,.12) 1px solid;
}

.sidebar_header_left {
  width: 270px;
  box-sizing: border-box;
  display: inline-flex;
}

.sidebar_master_title {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.sidebar_master_notify_icon {
  width: 8px !important;
  height: 8px !important;
  font-size: 1.2em !important;
  padding: 8px !important;
  color: darkred !important;
}

.sidebar_header_right {
  width: 400px;
  box-sizing: border-box;
  border-left: 1px solid rgba(0,0,0,.12);
  display: inline-flex;

  overflow: hidden;
}

.sidebar_header_content {
  display: flex;
  border-right: 1px solid #ccc;
}

.sidebar_cardlist_name {
  flex: 1;
  display: block;

  transition: transform .2s ease, opacity .2s ease;
}

.sidebar_filter_group {
  margin-right: -8px;
  width: 48px;
  display: flex;
  align-items: center;

  transition: transform .2s ease;
}

.sidebar_filter_shown .sidebar_cardlist_name {
  transform: translateX(-320px); /* 400 - 24*2 - 48 + 8*2 = 320 */
  opacity: 0;
}

.sidebar_filter_shown .sidebar_filter_group {
  transform: translateX(-320px);
}

.filter_input {
  padding-left: 8px;
  width: 312px;

  transition: opacity .2s ease;
  opacity: 0;
}

.filter_input_inner {
  width: 304px;
}

.filter_btn {
  width: 48px;
}

.filter_icon {
  width: 24px !important;
  height: 24px;

  opacity: 0;
  transition: opacity .2s ease;
}

.filter_icon:last-child {
  margin-left: -24px;
}

.filter_icon_shown {
  opacity: 1;
}

.sidebar_filter_shown .filter_input {
  opacity: 1;
}

.pane_content {
    position: absolute;
    top: 0;
    left: 671px;
    bottom: 0;
    right: 0;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #eee;
    transition: left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

@media (max-width: 1024px) {
    .pane_content {
        min-width: 350px;
    }
}

.pane_fullscreen {
    left: 0;
    transition: left 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.progress_area {
    z-index: 1500;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
}

.snack_bar_error {
    background-color: #d32f2f !important;
}

.snack_bar_success {
    background-color: #43a047 !important;
}

.snack_bar_notification {
    background-color: #1976d2 !important;
}

.snack_bar_text {
    display: flex;
    align-items: center;
}

.web_frame {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border-width: 0;
}

.form_control {
    margin: 10px 0 !important;
    min-width: 150px !important;
}
