.ignore_setting, .content_detail {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.ignore_setting_title {
    font-size: 30px;
    margin: 10px auto 0;
}

.ignore_setting_description {
    font-size: 15px;
    margin: 10px auto;
}

.ignore_setting_container {
    width: fit-content;
    margin: 20px auto;
}

.ignore_setting_reset_button {
    margin: 20px 0 0;
}

.content_detail_title {
    font-size: 25px;
    margin: 10px auto 0;
}

.content_detail_lines {
    text-align: left;
    margin: 10px 100px;
    max-width: 700px;
}

.content_detail_line {
    margin: 10px 0;
    font-size: 15px;
    color: #777777;
}

.content_detail_line>td {
    min-width: 80px;
}

.content_detail_content {
    text-align: left;
    margin: 10px 100px;
    font-size: 1.2em;
    border: 1px solid darkgray;
    white-space: pre-wrap;
}

