
.numbered_list .course_list {
    width: 100%;
    max-width: 360px;
}

.list_title {
    margin-left: 10px;
}

.list_icon {
    width: 18px;
    height: 18px;
}

.card_list_header {
    width: 100%;
    height: 15px;
    text-align: center;
    background: rgb(183, 183, 183);
}

.card_list_header_text {
    font-size: 20px;
}

.subfunc_list {
    padding-left: 10px;
}

.list_number {
    border-radius: 3px;
    background: #1a181d;
    color: #eeeeee;
    padding: 0 5px;
    box-shadow: inset 0 1px 2px #0f0e11;
}

.toggle_button {
    height: 0;
    width: 0;
    position: fixed;
    margin: 5px;
    z-index: 1000;
}