html {
  background: url('../image/bg.png') no-repeat center center,
              url('../image/creampaper.png');
}

body {
	font: 16px / 1.5 "微软雅黑", Helvetica, Serif;
	text-align:center;
}

#wrapper {
  min-height: 400px;
  height: 100%;
  position: relative;
}

a {
  color: #28F;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #04F;
}

#menu {
  line-height: 40px;
  height: 40px;
  width: 400px;
  color: #999;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: 80px;
}

#footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  font-size: 0.7em;
}

#footer,
#footer a {
  color: #999;
}

#footer a {
  text-decoration: underline;
}
