html{
	font-family:"微软雅黑", "Times New Roman",Georgia,Serif;
}	
body{
	text-align:center;
	margin-top:200px;
	background:#EEE;
}

#title{
	font-size:70px;
	line-height:128px;
	font-family: "Myriad Pro";
	color:#233;
}

small{
	color:#555;
}
img{
	vertical-align:top;
}
#footer{
	position:absolute;
	bottom:5px;
	right:0;
	left:0;
	color:#555;
	font-size:0.5em;
}

#menu{
	margin:20%;
}
