body{
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
}	
.page{
	width:980px;
	margin: auto;
	background-color: #fff;
}
@media (min-width: 64em) { 
	.page { width: 100%; }
}
.page-sidebar{
	width:200px;
	height:1000px;
	border-right:1px solid #EEEEEE;
	z-index:10;
}
.page-content{
	position:absolute;
	top:0;
	left:0;
	margin-left:220px;
	width:1000px;
	z-index:1;
}
.page-header{
	position:relative;
	height:120px;
}
#main-title{
	position:absolute;
	left:20px;
	top:38px;
	font-size: 42pt;
	line-height: 44pt;
}
#main-title small{
	font-size:20pt;
}
.title{
	font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	font-weight: 300;
	letter-spacing: 0.00em;
}
.title:hover{
	color:rgba(0, 0, 0, 0.7);
}
.subtitle{
	border-bottom:1px solid rgba(0, 0, 0, 0.5);
	margin-top:10px;
	margin-bottom:7px;
	padding-left:6px;
	padding-bottom:3px;
	font-size: 20pt;
	letter-spacing: 0.01em;
	line-height: 24pt;
}
.side-title{
	font-size:18pt;
	border-bottom:1px solid rgba(0, 0, 0, 0.5);
	margin-top:10px;
	margin-bottom:7px;
	padding-bottom:9px;
	text-align:center;
}

.subtitle small{
	float:right;
	font-size:10px;
	line-height:20pt;
}
.table{
	margin:10px;
	margin-left:20px;
}

.side-block{
	margin:20px;
	width:150px;
}
.side-block li{
	list-style:none;
	margin-left:10px;
	width:130px;
	border-bottom:1px solid rgba(100, 200, 255, 0.5);
	margin-bottom:7px;
	text-align:center;
	padding-bottom:5px;
}
.side-block li a{
	text-decoration:none;
	font-size:10px;
}

#status-bar{
	width:100px;
	height:30px;
	position:absolute;
	left:65%;
	top:0;
}
.status-counter{
	position:relative;
	width:25px;
	height:30px;
	margin-left:3px;
	margin-right:3px;
	background:#115599;
	float:left;
	text-align:center;
	font-size:14px;
	color:white;
	-webkit-box-shadow: 2px 2px 5px black;
	line-height:30px;
}
	


/*
 * Metro UI CSS
 * Copyright 2012 Sergey Pimenov
 * Licensed under the MIT Lilcense
 *
 * Tables.less
 *
 */
table {
  width: 100%;
  border-collapse: separate;
  margin: 0 0 20px;
}
table thead tr th,
table thead tr td {
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 5px;
  border-bottom: 1px #ddd solid;
  border-right: 1px #ddd solid;
  border-left: 1px transparent solid;
  border-top: 1px transparent solid;
  font-family: 'Segoe UI', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  letter-spacing: 0.01em;
  line-height: 14pt;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
}
table thead tr th.right,
table thead tr td.right {
  text-align: right;
  padding-right: 10px;
}
table thead tr th.last,
table thead tr td.last {
  border-right: 1px transparent solid;
}
table thead tr th:last-child,
table thead tr td:last-child {
  border-right: 1px transparent solid;
}
table tbody tr {
  border: 1px #fff solid;
}
table tbody tr td {
  font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 11pt;
  letter-spacing: 0.02em;
  line-height: 20px;
  padding: 3px 10px;
  border-right: 1px #ddd solid;
  border-bottom: 1px #ddd solid;
  box-sizing: border-box;
}
table tbody tr td.right {
  text-align: right;
}
table tbody tr td.center {
  text-align: center;
}
table tbody tr td.last {
  border-right: 1px transparent solid;
}
table tbody tr td:last-child {
  border-right: 1px transparent solid;
}
table tbody tr.success {
  background-color: #00a300 !important;
}
table tbody tr.error {
  background-color: #b91d47 !important;
}
table tbody tr.warning {
  background-color: #e3a21a !important;
}
table tbody tr.info {
  background-color: #2d89ef !important;
}
table tbody tr.selected-row {
  background-color: rgba(28, 183, 236, 0.1) !important;
}
table tbody tr.selected-row td:first-child {
  border-left: 1px #1c98cc solid;
}
table tbody tr.selected-row td:last-child {
  border-right: 1px #1c98cc solid;
}
table tbody tr.selected-row td {
  border-top: 1px #1c98cc solid;
  border-bottom: 1px #1c98cc solid;
}
table.striped tbody tr:nth-child(odd) {
  background-color: #E0EDFF;
  /*background-color: #F9F9F9;*/
}
table.hovered {
  border-collapse: separate !important;
}
table.hovered thead tr th:hover,
table.hovered thead tr td:hover {
  border: 1px #1c98cc solid;
  background: rgba(28, 183, 236, 0.1);
}
table.hovered tbody tr:hover {
  background-color: rgba(28, 183, 236, 0.1);
}
table.hovered tbody tr:hover td:first-child {
  border-left: 1px #1c98cc solid;
}
table.hovered tbody tr:hover td:last-child {
  border-right: 1px #1c98cc solid;
}
table.hovered tbody tr:hover td {
  border-top: 1px #1c98cc solid;
  border-bottom: 1px #1c98cc solid;
}
table.bordered {
  border-collapse: separate !important;
  border: 1px #ccc solid !important;
}
table.bordered tbody tr:last-child td {
  border-bottom: 0;
}
